/* text size */
.title{
  font-size: 80px;
  font-weight: 600;
}

.card{
  font-size: 40px;
  font-weight: 600;
}

.body{
  font-size: 20px;
  font-weight: 400;
}

/* Colors */

:root{

  --havehad{
    color: #032057;
  }
}