/* intro_sec */
#havehad{
  width: 100%;
  margin: 0 auto;
  font-family: 'Pretendard Variable';
}

#havehad section{
  width: 100%;
  margin-top: 50px;
}

#havehad .intro_sec .intro_wrap{
  width: 100%;
  max-width: 1400px;
  margin: 50px auto 0;
}

#havehad .intro_top p{
  font-size: 18px;
  font-weight: 600;
  color: #032057;
}

#havehad .intro_con{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

#havehad .intro_text h2{
  font-weight: 600;
  color: #333;
}

#havehad .intro_text p{
  font-weight: 800;
  color: #032057;
}

#havehad .intro_text .intro_nav{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#havehad .intro_box{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes float{
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(-20px);
  }
  100%{
    transform: translateY(0px);
  }
}

#havehad .intro_box{
  width: 100%;
}

#havehad .intro_box .intro_img img{
  width: 1000px;
  animation: float 3s ease-in-out infinite;
}

#havehad .intro_wrap .intro_bottom{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#havehad .intro_bottom .bottom_text p{
  font-size: 18px;
  font-weight: 400;
}

#havehad .intro_bottom .bottom_text strong{
  color: #032057;
  font-weight: 600;
}

/* overview_sec */
#havehad .overview_wrap{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 150px 0;
  border: 1px solid #000;
  background: #032057;
}

#havehad .overview_wrap h2{
  font-weight: 600;
  color: #fff;
  margin-bottom: 30px;
}

#havehad .overview_wrap h3{
  font-weight: 800;
  color: #fff;
  margin-bottom: 50px;
  font-size: 60px;
}

#havehad .overview_wrap p{
  margin-bottom: 50px;
  color: #fff;
  margin-bottom: 100px;
  line-height: 30px;
}

/* needs_sec */
#havehad .needs_wrap{
  width: 100%;
  max-width: 1400px;
  height: 700px;
  margin: 100px auto 0;
  text-align: left;
}

#havehad .needs_wrap h2{
  color: #032057;
  font-weight: 600;
  margin-bottom: 30px;
}

#havehad .needs_wrap p{
  margin-bottom: 200px;
}

#havehad .needs_wrap .needs_box{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#havehad .needs_wrap .needs_box .need{
  border-radius: 1000px;
  width: 400px;
  height: 400px;
  position: relative;
  background: #032057;
}

#havehad .needs_wrap .needs_box .need:nth-child(1),
#havehad .needs_wrap .needs_box .need:nth-child(3){
  background: #0B43AC;
}

#havehad .needs_wrap .needs_box .need p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
}

/* goal_sec */
#havehad .goal_wrap{
  max-width: 1400px;
  width: 100%;
  height: 800px;
  margin: 100px auto 0;
}

#havehad .goal_wrap .goal_text{
  text-align: center;
}

#havehad .goal_wrap h2{
  color: #032057;
  font-weight: 600;
  margin-bottom: 50px;
}

#havehad .goal_wrap p{
  margin-bottom: 100px;
}

#havehad .goal_box{
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

#havehad .goal{
  border: 3px solid #032057;
  padding: 15px 30px;
  font-size: 30px;
  font-weight: 600;
  color: #032057;
  border-radius: 30px;
  transition: 0.3s;
}

#havehad .goal:hover{
  background: #032057;
  color: #fff;
}

#havehad .goal.go1{
  position: absolute;
  top: 80px;
  left: 150px;
}

#havehad .goal.go2{
  position: absolute;
  top: 150px;
  left: 500px;
}

#havehad .goal.go3{
  position: absolute;
  top: 60px;
  left: 750px;
}

#havehad .goal.go4{
  position: absolute;
  top: 100px;
  left: 1000px;
}

#havehad .goal.go5{
  position: absolute;
  top: 400px;
  left: 180px;
}

#havehad .goal.go6{
  position: absolute;
  top: 350px;
  left: 500px;
}

#havehad .goal.go7{
  position: absolute;
  top: 280px;
  left: 750px;
}

#havehad .goal.go8{
  position: absolute;
  top: 450px;
  left: 1000px;
}

/* design_sec */
#havehad .design_sec{
  width: 100%;
  max-width: 1400px;
  margin: 100px auto 0;
}

#havehad .design_text{
  width: 100%;
  text-align: center;
}

#havehad .design_text h2{
  font-weight: 600;
  color: #032057;
  margin-bottom: 50px;
}

#havehad .design_text p{
  font-weight: 600;
  color: #666;
  margin-bottom: 100px;
}

#havehad .design_sec .title3{
  font-weight: 600;
  color: #032057;
  margin-bottom: 100px;
}

#havehad .color_sec{
  margin-bottom: 300px;
}

#havehad .color_sec .color_box{
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#havehad .color_sec .color_box .color{
  width: 300px;
  height: 300px;
  position: relative;
}

#havehad .color_sec .color_box .color:nth-child(1){
  width: 600px;
  background: #333;
  color: #fff;
}

#havehad .color_sec .color_box .color:nth-child(2){
  background: #e8e8e8;
  color: #333;
}

#havehad .color_sec .color_box .color:nth-child(3){
  background: #0034ff;
  color: #fff;
}

#havehad .color_sec .color_box .color p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

/* typo_sec */
#havehad .typo_sec{
  width: 100%;
  max-width: 1400px;
  margin-bottom: 300px;
}

#havehad .typo_sec .typo_img{
  margin-top: 100px;
}

#havehad .typo_sec .typo_img img{
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

/* main_sec */
#havehad .main_sec{
  width: 100%;
  max-width: 1400px;
  margin: auto;
  position: relative;
}

#havehad .main_img img{
  width: 1000px;
  margin-left: 130px;
}
#havehad .main_sec h2{
  color: #032057;
}

#havehad .main_text{
  position: absolute;
  top: 300px;
  left: 750px;
}

#havehad .main_text h3{
  font-weight: 600;
  color: #032057;
  margin-bottom: 20px;
}

#havehad .main_text p{
  font-weight: 400;
  color: #333;
  font-size: 18px;
  line-height: 24px;
}

/* sub_sec */
#havehad .sub_sec{
  width: 100%;
  max-width: 1400px;
  margin: auto;
  position: relative;
}

#havehad .sub_img{
  margin-top: 300px;
  margin-left: 500px;
}

#havehad .sub_img img{
  width: 800px;
}

#havehad .sub_sec h2{
  color: #032057;
}

#havehad .sub_text{
  position: absolute;
  top: 500px;
}

#havehad .sub_text h3{
  font-weight: 600;
  color: #032057;
  margin-bottom: 20px;
}

#havehad .sub_text p{
  font-weight: 400;
  color: #333;
  font-size: 18px;
  line-height: 24px;
}

/* end_sec */
#havehad .end_sec{
  width: 100%;
  height: 250px;
  background: #032057;
  margin: auto;
  text-align: center;
}

#havehad .end_sec h2{
  padding-top: 100px;
  color: #fff;
  font-weight: 600;
}

#havehad .end_sec p{
  margin-top: 10px;
  color: #fff;
}







