/* header_sec */
.header_sec{
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 5rem 0;
  margin: 0 auto;
  font-family: "IBM Plex Mono";
  letter-spacing: -10%;
  position: fixed;
  top: 0;
  color: #333;
  z-index: 99;
}

.header_sec .header_time{
  font-size: 1.6rem;
  font-weight: 600;
}

.header_sec .nav .util_menu{
  display: flex;
  gap: 2rem;
}

.header_sec .nav .util_menu li{
  font-size: 1.2rem;
  font-weight: 600;
}

/* main_sec */
.main_sec{
  width: 100%;
  height: 100rem;
  margin: 0 auto;
  background: #fff;
  position: relative;
}

.main_sec .main_text{
  width: 100%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.main_sec .main_text .text{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
  font-weight: 800;
  gap: 3rem;
}

.main_sec .main_text .text video{
  width: 10rem;
  height: 6rem;
  border-radius: 30px;
  object-fit: cover;
}

.main_sec .main_text .text img{
  display: block;
}

.main_sec .main_text .text:nth-child(2) img{
  animation: rotate-ani 4s ease-in-out 1s infinite ;
  width: 8rem;
  height: 8rem;
}

/* .main_sec:has(.text:nth-child(1) video:hover){
  background: url(../images/index/moneffe_bg.png) no-repeat center/cover;
} */

/* animation */
@keyframes rotate-ani{
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

/* .footer_sec */
.footer_sec{
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  margin: 0 auto;
  font-family: "IBM Plex Mono";
  letter-spacing: -10%;
  position: fixed;
  bottom: 0;
  color: #555;
  z-index: 99;
}

.footer_sec .footer_left, .footer_right{
  display: flex;
  gap: 3rem;
  padding-bottom: 5rem;
}
