body{
  scroll-behavior: smooth;
  background-color: #000;
}

/* header_sec */
.header_sec{
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 3rem 5rem 0;
  font-family: "Cormorant Garamond", serif;
  position: fixed;
  top: 0;
  color: #fff;
  z-index: 99;
}

.header_sec .header_logo{
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Cormorant Garamond", serif;
}

.header_sec .nav .util_menu{
  font-size: 1.6rem;
  display: flex;
  gap: 5rem;
  color: #fff;
  font-weight: 300;
  font-family: "IBM Plex Mono";
  z-index: 1;
}

.header_sec .nav .util_menu li:hover{
  color: #a50000;
}

/* main_sec */
#main_sec{
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background: #000;
  position: relative;
}

#main_sec .main_bg{
  width: 100%;
  height: 100%;
  background: #000;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

#main_sec .main_text{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


#main_sec .tl, .tr, .bl, .br{
  width: 5rem;
  height: 5rem;
  z-index: 10;
}

#main_sec .tl{
  top: 7rem;
  left: 5rem;
  border-top: 2px solid #f0f0f0;
  border-left: 2px solid #f0f0f0;
  position: fixed;
}

#main_sec .tr{
  top: 7rem;
  right: 5rem;
  border-top: 2px solid #f0f0f0;
  border-right: 2px solid #f0f0f0;
  position: fixed;
}

#main_sec .bl{
  bottom: 7rem;
  left: 5rem;
  border-bottom: 2px solid #f0f0f0;
  border-left: 2px solid #f0f0f0;
  position: fixed;
}

#main_sec .br{
  bottom: 7rem;
  right: 5rem;
  border-bottom: 2px solid #f0f0f0;
  border-right: 2px solid #f0f0f0;
  position: fixed;
}

#main_sec .time{
  bottom: 10%;
  right: 0;
  position: fixed;
  font-size: 1.8rem;
  font-weight: 400;
}

.time{
  width: 100%;
  padding: 0 5rem;
  display: flex;
  justify-content: center;
  color: #fff;
  z-index: 10;
}

.time h2{
  font-size: 1.4rem;
}

#main_sec video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  filter: brightness(15%);
}

#main_sec .main_text .text{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  font-size: 12rem;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  gap: 3rem;
  color: #fff;
}

/* about_sec */
#about_sec{
  width: 100%;
  height: 110vh;
  position: relative;
  background-color: #111;
}

#about_sec .about_img{
  width: 100%;
}

#about_sec .about_title{
  width: 100%;
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 5rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#about_sec .about_title h2{
  font-size: 2.4rem;
  color: #a50000;
  font-weight: 600;
  margin-bottom: 5rem;
  position: relative;
}

#about_sec .about_title h2::after{
  content: '';
  position: absolute;
  top: 0;
  left: 54%;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #a50000;
  border-radius: 3rem;
}

#about_sec .about_title h3{
  font-size: 4.8rem;
  margin-bottom: 3rem;
  color: #fff;
}

#about_sec .about_title p{
  font-size: 1.8rem;
  color: #fff;
}

/* project_sec */
#project_sec{
  overflow: hidden;
}

/* #project_sec .sec.project04 h2{
  font-family: 'KakaoBigSans-ExtraBold';
  margin-bottom: 1rem;
  font-weight: 100;
  font-size: 4.6rem;
} */

.sec{
  width: 100%; 
  height: 110vh;
  position: relative;
}
  
/* 각 섹션별 배경색 설정 */
.project_box {
  width: 100%;
  height: 100%;
  position: relative;
  color: #fff;
  z-index: 1;
}

.project_box video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  filter: brightness(35%);
}

.sec::before{
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}

.project_box .project_title{
  position: fixed;
  top: 45%;
  left: 50%;
  text-align: center;
  padding: 0 5rem;
  transform: translate(-50%,-50%);
}

.project_box .project_title h2{
  font-family: "Cormorant Garamond", serif;
  font-size: 8rem;
  font-weight: 500;
}

.project_box .project_title p{
  font-size: 1.8rem;
  font-weight: 400;
}

.project_box .project_title .project_link{
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%,-50%);
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.project_box .project_title .project_link a{
  font-size: 1.6rem;
  border: 1px solid #fff;
  padding: 0.5rem 2.5rem;
  transition: 0.3s;
  border-radius: 5px;
}

.project_box .project_title .project_link a:hover{
  background: #fff;
  color: #333;
}

/* list_sec */
#list_sec{
  color: #fff;
  position: relative;
  z-index: 10;
}

#list_sec .list_wrap{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Pretendard Variable';
  background: #000;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

#list_sec .list_title{
  width: 100%;
  font-family: "IBM Plex Mono";
  font-size: 3rem;
  margin-bottom: 5rem;
  text-align: center;
}

#list_sec .list_wrap .list{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #333;
  padding: 10rem 5rem;
  transition: 0.2s;
  font-size: 3.2rem;
  font-weight: 400;
}

#list_sec .list_wrap .list:last-child{
  border-bottom: 2px solid #333;
}

#list_sec .list_wrap .list:hover{
  background-color: #111;
  color: #fff;
}

#list_sec .list_wrap .list .fade{
  position: fixed;
  top: 0;
  left: 0;
  width: 30rem;
  height: 20rem;
  opacity: 0;
  object-fit: cover;
}

#list_sec .list_wrap .list .tag{
  font-size: 2rem;
  text-align: left;
}

#list_sec .list_wrap .list .year{
  font-size: 2.4rem;
}

/* #ui_sec{
  padding: 0 2rem;
}

#ui_sec .ui_wrap{
  width: 100%;
  max-width: 180rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

#ui_sec .ui_wrap .ui_title{
  position: sticky;
  top: 0;
  padding: 30rem 0 20rem 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#ui_sec .ui_wrap .ui_title h2{
  color: #fff;
  font-size: 4.8rem;
}

#ui_sec .ui_wrap .ui_title p{
  color: #fff;
  font-size: 2.8rem;
}

#ui_sec .ui_wrap .ui_list{
  width: 100%;
  height: 100%;
}

#ui_sec .ui_wrap .ui_list .ui_box{
  width: 100%;
  height: 30rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

#ui_sec .ui_wrap .ui_list .ui_box .ui_img{
  width: 30rem;
  height: 20rem;
  border-radius: 1rem;
  background-color: #111;
  object-fit: cover;
}

#ui_sec .ui_wrap .ui_list .ui_box h3{
  font-size: 2.8rem;
  color: #fff;
}

#ui_sec .ui_wrap .ui_list .ui_box p{
  font-size: 1.6rem;
  color: #fff;
} */

/* contact_sec */
#contact_sec{
  padding: 0 5rem;
}

#contact_sec .contact_wrap{
  width: 100%;
  max-width: 120rem;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  background-color: #000;
}

#contact_sec .contact_title{
  width: 100%;
  margin: 0 auto;
  text-align: left;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#contact_sec .contact_title h2{
  font-size: 2.4rem;
  color: #a50000;
  font-weight: 600;
  margin-bottom: 5rem;
  position: relative;
}

#contact_sec .contact_title p.email{
  font-size: 4rem;
  margin-bottom: 3rem;
  color: #fff;
  letter-spacing: -0.6rem;
}

#contact_sec .contact_title p{
  font-size: 1.8rem;
  color: #fff;
}

#contact_sec .contact_title .contact_link{
  margin-top: 10rem;
  color: #fff;
  font-size: 2.4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 2rem;
}

#contact_sec .contact_title .contact_link a{
  display: inline-block;
}

#contact_sec .contact_title .contact_link img{
  width: 4rem;
  height: 4rem;
}


@media (max-width: 1024px){

  #main_sec .main_text .text{
    font-size: 8rem;
  }

  /* about_sec */
  #about_sec .about_title h2::after{
    display: none;
  }

  #about_sec .about_title h3{
    font-size: 3.6rem;
  }

  /* contact_sec */
  #contact_sec .contact_title{
    text-align: left;
  }
}


@media (max-width: 768px){

  .header_sec{
    justify-content: center;
  }

  .header_sec .nav{
    display: none;
  }

  #list_sec .list_wrap .list .tag{
    font-size: 2rem;
  }

  /* list_sec */
  #list_sec .list_wrap .list{
    flex-direction: column;
    font-size: 2.6rem;
  }
}

@media (max-width: 540px){
  #main_sec .main_text .text{
    font-size: 4.8rem;
  }

  #about_sec .about_title h3{
    font-size: 2.8rem;
  }

  .project_box .project_title h2{
    font-size: 6rem;
  }

  #list_sec .list_wrap .list .tag{
    text-align: center;
  }

  #contact_sec .contact_title{
    text-align: center;
  }

  #contact_sec .contact_title p.email{
    font-size: 3rem;
    letter-spacing: -0.4rem;
  }
  
  #contact_sec .contact_title .contact_link{
    justify-content: center;
  }
}