/* intro_sec */
#moneffe{
  width: 100%;
  margin: 0 auto;
  font-family: 'Noto Sans KR', sans-serif;
  background: #f8f6f2; 
}

#moneffe section{
  width: 100%;
}

#moneffe .intro_sec .intro_wrap{
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

#moneffe .intro_top p{
  font-size: 18px;
  font-weight: 600;
  color: #5d4f45;
  padding: 50px 0 0;
}

#moneffe .intro_con{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

#moneffe .intro_text h2{
  font-weight: 600;
  color: #333;
}

#moneffe .intro_text p{
  font-weight: 800;
  color: #a8b2a1;
}

#moneffe .intro_text .intro_nav{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#moneffe .intro_box{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes float{
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(-30px);
  }
  100%{
    transform: translateY(0px);
  }
}

#moneffe .intro_box{
  width: 100%;
}

#moneffe .intro_box .intro_img img{
  width: 1000px;
  animation: float 3s ease-in-out infinite;
}

#moneffe .intro_wrap .intro_bottom{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#moneffe .intro_bottom .bottom_text p{
  font-size: 18px;
  font-weight: 400;
}

#moneffe .intro_bottom .bottom_text strong{
  color: #032057;
  font-weight: 600;
}

/* overview_sec */
#moneffe .overview_wrap{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 150px 0;
  border: 1px solid #000;
  background: #5d4f45;
}

#moneffe .overview_wrap h2{
  font-weight: 600;
  color: #fff;
  margin-bottom: 30px;
}

#moneffe .overview_wrap h3{
  font-weight: 800;
  color: #fff;
  margin-bottom: 50px;
  font-size: 60px;
}

#moneffe .overview_wrap p{
  margin-bottom: 50px;
  color: #fff;
  margin-bottom: 100px;
  line-height: 30px;
}

/* needs_sec */
#moneffe .needs_wrap{
  width: 100%;
  max-width: 1400px;
  height: 700px;
  margin: 100px auto 0;
  text-align: left;
}

#moneffe .needs_wrap h2{
  color: #032057;
  font-weight: 600;
  margin-bottom: 30px;
}

#moneffe .needs_wrap p{
  margin-bottom: 200px;
}

#moneffe .needs_wrap .needs_box{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#moneffe .needs_wrap .needs_box .need{
  border-radius: 1000px;
  width: 400px;
  height: 400px;
  position: relative;
  background: #032057;
}

#moneffe .needs_wrap .needs_box .need:nth-child(1),
#moneffe .needs_wrap .needs_box .need:nth-child(3){
  background: #0B43AC;
}

#moneffe .needs_wrap .needs_box .need p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
}

/* goal_sec */
#moneffe .goal_wrap{
  max-width: 1400px;
  width: 100%;
  height: 800px;
  margin: 100px auto 0;
}

#moneffe .goal_wrap .goal_text{
  text-align: center;
}

#moneffe .goal_wrap h2{
  color: #032057;
  font-weight: 600;
  margin-bottom: 50px;
}

#moneffe .goal_wrap p{
  margin-bottom: 100px;
}

#moneffe .goal_box{
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

#moneffe .goal{
  border: 3px solid #032057;
  padding: 15px 30px;
  font-size: 30px;
  font-weight: 600;
  color: #032057;
  border-radius: 30px;
  transition: 0.3s;
}

#moneffe .goal:hover{
  background: #032057;
  color: #fff;
}

#moneffe .goal.go1{
  position: absolute;
  top: 80px;
  left: 150px;
}

#moneffe .goal.go2{
  position: absolute;
  top: 150px;
  left: 500px;
}

#moneffe .goal.go3{
  position: absolute;
  top: 60px;
  left: 750px;
}

#moneffe .goal.go4{
  position: absolute;
  top: 100px;
  left: 1000px;
}

#moneffe .goal.go5{
  position: absolute;
  top: 400px;
  left: 180px;
}

#moneffe .goal.go6{
  position: absolute;
  top: 350px;
  left: 500px;
}

#moneffe .goal.go7{
  position: absolute;
  top: 280px;
  left: 750px;
}

#moneffe .goal.go8{
  position: absolute;
  top: 450px;
  left: 1000px;
}

/* design_sec */
#moneffe .design_sec{
  width: 100%;
  max-width: 1400px;
  margin: 100px auto 0;
}

#moneffe .design_text{
  width: 100%;
  text-align: center;
}

#moneffe .design_text h2{
  font-weight: 600;
  color: #032057;
  margin-bottom: 50px;
}

#moneffe .design_text p{
  font-weight: 600;
  color: #666;
  margin-bottom: 100px;
}

#moneffe .design_sec .head2{
  font-weight: 600;
  color: #032057;
  margin-bottom: 100px;
}

#moneffe .color_sec{
  margin-bottom: 300px;
}

#moneffe .color_sec .color_box{
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#moneffe .color_sec .color_box .color{
  width: 300px;
  height: 300px;
  position: relative;
}

#moneffe .color_sec .color_box .color:nth-child(1){
  width: 600px;
  background: #333;
  color: #fff;
}

#moneffe .color_sec .color_box .color:nth-child(2){
  background: #e8e8e8;
  color: #333;
}

#moneffe .color_sec .color_box .color:nth-child(3){
  background: #0034ff;
  color: #fff;
}

#moneffe .color_sec .color_box .color p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

/* typo_sec */
#moneffe .typo_sec{
  width: 100%;
  max-width: 1400px;
  margin-bottom: 300px;
}

#moneffe .typo_sec .typo_img{
  margin-top: 100px;
}

#moneffe .typo_sec .typo_img img{
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

/* main_sec */
#moneffe .main_sec{
  width: 100%;
  max-width: 1400px;
  margin: auto;
  position: relative;
}

#moneffe .main_img img{
  width: 1000px;
  margin-left: 130px;
}
#moneffe .main_sec h2{
  color: #032057;
}

#moneffe .main_text{
  position: absolute;
  top: 300px;
  left: 750px;
}

#moneffe .main_text h3{
  font-weight: 600;
  color: #032057;
  margin-bottom: 20px;
}

#moneffe .main_text p{
  font-weight: 400;
  color: #333;
  font-size: 18px;
  line-height: 24px;
}

/* sub_sec */
#moneffe .sub_sec{
  width: 100%;
  max-width: 1400px;
  margin: auto;
  position: relative;
}

#moneffe .sub_img{
  margin-top: 300px;
  margin-left: 500px;
}

#moneffe .sub_img img{
  width: 800px;
}

#moneffe .sub_sec h2{
  color: #032057;
}

#moneffe .sub_text{
  position: absolute;
  top: 500px;
}

#moneffe .sub_text h3{
  font-weight: 600;
  color: #032057;
  margin-bottom: 20px;
}

#moneffe .sub_text p{
  font-weight: 400;
  color: #333;
  font-size: 18px;
  line-height: 24px;
}

/* end_sec */
#moneffe .end_sec{
  width: 100%;
  height: 250px;
  background: #032057;
  margin: auto;
  text-align: center;
}

#moneffe .end_sec h2{
  padding-top: 100px;
  color: #fff;
  font-weight: 600;
}

#moneffe .end_sec p{
  margin-top: 10px;
  color: #fff;
}







